body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color:#b3fff0;
    color: black;
}
    hr{
        border-color:#555555;
        }
    li{
        font-weight:normal;
    }

    .center{
     text-align: center;
    }
    
    .bold{
        font-weight:bold;
    }
    .italic{
        font-style:italic;
    }
    .underline{
        text-decoration: underline;
    }
    .video{
        height:200px;
        width: auto;
    }


    /* LAYOUT */

    .common { 
        /* background-color: #555555; */
        /*border: 2px solid white;*/
        position: absolute; 
    }

    .header {
        top: 5px;
        left: 5px;
        right: 5px;
        height: 100px;
        z-index: 2;
        position: relative;
        /*border-bottom: solid 1px #555555*/
    }
    
    .header h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        text-align: right;
    }

    .mainbody {
        top: 114px;
        left: 40px;
        right: 114px;
        bottom: auto;
        padding-right: 5px;
    }

    .mainbody img {
        width: auto;
        height: 300px;
        position: center;
    }

    .rightmenu {
        top:114px;
        right: 5px;
        width: 100px;
        bottom: 200px;
        border-left: solid 1px #555555;
        padding-left: 5px;
    }
    .rightmenu text{
        position:fixed;
    }

    .footer { 
        bottom: 5px;
        left: 5px;
        right: 5px;
        height: 25px;
        font-size: 8px;
        color: #999999;
        text-align: center;
        padding-top: auto;
    }
